/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
aliases
.vagrant/
public/packages/barryvdh/elfinder/js/
.phpstorm.meta.php
after.sh
.idea/
.editorconfig
